h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
.container {
  background-color: chocolate;
  max-width: 400px;
  display: block;
  margin: auto;
  padding: 10px;
  border-radius: 40px;
  margin-top: 100px;
}
button {
  border: 400px;
  padding: 20px;
  display: block;
  margin: auto;
  margin-top: 30px;
  color: black;
  background-color: greenyellow;

  border-radius: 20px;
}
#button1 {
  text-decoration: none;
}
